<% include ../partials/header %>

<div id="page-start"></div>

<section class="main-container" style="margin-top: 60px;">
	<div class="separator-2"></div>

	<div class="container">
		<div class="row justify-content-center mb-4">
			<%
				var gubun = '';

				switch (products[0].native) {
					case '현역':
						gubun = 'soldier';
						break;
					case '예비역':
						gubun = 'reserve';
						break;
					case '일반인':
						gubun = 'general';
						break;
				}
			%>
			<a href="/<%= gubun %>" class="btn btn-group btn-warning btn-animated">
				뒤 로 <i class="fa fa-calendar""></i>
			</a>
		</div>
		<div class="row grid-space-10">

			<% products.forEach((product) => { %>
				<div class="col-md-6 col-lg-3"
					onclick="location.href='/products/<%= product.id %>'"
					style="cursor: pointer;"
				>
					<%
						function comma (num) {
							return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
						}

						var newPrice = comma(product.price);
					%>
					<div class="image-box team-member style-2 bordered dark-bg mb-20 text-center default-hovered">
						<div class="body">
							<h5 class="margin-clear">
								<%= product.productName %> | <%= product.native %> | <%= newPrice %>
							</h5>
						</div>
					</div>
				</div>
			<% }) %>

		</div>
	</div>
</section>

<% include ../partials/footer %>