<% include ../partials/header %>

<div id="page-start"></div>

<section class="main-container" style="margin-top: 60px;">
	<div class="container">
		<h1 class="page-title text-center">품목 상세보기</h1>
		<h2 class="page-title text-center" style="color: blue;">
			[ <%= product.productName %> | <%= product.native %> ]
		</h2>

		<div class="row justify-content-center">
			<div class="col-sm-6">
				<div class="image-box style-2 mb-20 bordered dark-bg text-center">
					<div class="body">
						<table class="table table-hover table-colored text-center">
							<tr>
								<th>분류</th>
								<td><%= product.division %></td>
							</tr>
							<tr>
								<th>단가</th>
								<%
									function comma(num) {
              			return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
									}
									
            			var newprice = comma(product.price);
								%>
								<td><%= newprice %></td>
							</tr>
							<tr>
								<th>단위</th>
								<td><%= product.unit %></td>
							</tr>
						</table>

						<hr />

						<form action="" method="post" id="cartForm">
							<input type="hidden" name="price" value="<%= product.price %>" />
							<input type="hidden" name="number" value="1" />
							<input type="hidden" name="amount" value="<%= product.price %>" />

							<div>
								<div class="printNum" style="display: flex; font-size: 1rem;">
									<label for="CountBox" class="form-control">수량</label>
									<input type="number" class="form-control" id="CountBox"
										style="display: inline-block; margin-left: 1rem;" />
								</div>
								
								<div class="priceWrap mt-4 text-right">
									<h2>
										합계 금액 : 
										<span id="priceHtml" style="color: white;">
											<%
												function comma(num) {
                    			return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  			}

                  			var new2price = comma(product.price);
											%>
											<%= new2price %> 원
										</span>
									</h2>
								</div>
								<div style="clear: both;"></div>
							</div>

							<a href="javascript:history.back()"
								class="btn btn-group btn-lg btn-warning btn-animated"
							>
								목록으로 <i class="fa fa-clipboard"></i>
							</a>
							<button class="btn btn-group btn-lg btn-success btn-animated ml-2">
								전표추가 <i class="fa fa-location-arrow"></i>
							</button>
						</form>

					</div>
				</div>
			</div>
		</div>	
	</div>
</section>

<script>
	$(document).ready(function () {
		$('#CountBox').keyup(function (e) {
			e.preventDefault();

			var cnt = $('#CountBox').val();

			if (cnt < 0) {
				cnt = Math.abs(cnt);
				$('#CountBox').val(cnt);
			}

			var price = $('#cartForm input[name=price]').val();
			var cartNum = cnt;

			function comma(num) {
      	return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
			
			var newAmount = comma(cartNum * price);
			$('#priceHtml').html(newAmount);
			$('input[name=amount]').val(cartNum * price);
		});
	});

	$('#cartForm').submit(function () {
		if (confirm('전표에 추가하시겠습니까??')) {
			var productId = <%= product.id %>;
			var native = "<%= product.native %>";
			var productName = "<%= product.productName %>";
			var price = "<%= product.price %>";

			var number = $('#CountBox').val();
			var amount = $('input[name=amount]').val();

			var cartList = {};
			var totalAmount = 0;

			if (getCookie('cartList')) {
				cartList = JSON.parse(getCookie('cartList'));
			}

			cartList[productId] = {
				native: native,
				productName: productName,
				price: price,
				number: number,
				amount: amount
			};

			setCookieHour("cartList", JSON.stringify(cartList), 10);
			alert('전표 추가 완료!');
			history.back();
		}

		return false;
	});
</script>

<% include ../partials/footer %>